{
    "openapi": "3.0.0",
    "info": {
      "title": "API de Agendamiento de Citas Médicas",
      "description": "API para gestionar el agendamiento de citas médicas para asegurados en Perú y Chile",
      "version": "1.0.0",
      "contact": {
        "name": "Equipo de Desarrollo",
        "email": "dev@rimac.com"
      }
    },
    "servers": [
      {
        "url": "https://api.rimac.com/{stage}",
        "description": "Servidor de API",
        "variables": {
          "stage": {
            "default": "dev",
            "description": "Entorno de despliegue",
            "enum": ["dev", "qa", "prod"]
          }
        }
      }
    ],
    "tags": [
      {
        "name": "Appointments",
        "description": "Operaciones relacionadas con el agendamiento de citas médicas"
      }
    ],
    "paths": {
      "/appointments": {
        "get": {
          "summary": "Obtener citas médicas por asegurado",
          "description": "Obtiene las citas médicas de un asegurado específico",
          "operationId": "getAppointmentsByInsured",
          "parameters": [
            {
              "name": "insuredId",
              "in": "query",
              "required": true,
              "description": "ID del asegurado",
              "schema": {
                "type": "string"    
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Citas médicas obtenidas correctamente",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Appointment"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }